@model WebNarudzbe.Models.NarudzbeDTO

@{
    ViewBag.Title = "Details";
}

<div id="partialDetails">
    @Html.Partial("PartialDetails", Model)
</div>

<div id="partialEdit" style="display:none">
    @Html.Partial("PartialEdit", Model)
    
</div>

<div>
    <input type="button" value="Edit" id="Switch" onclick="switchtoview()" />
</div>

<script type="text/javascript">
    var isDetailShown = new Boolean(true);
    function switchtoview() {
        var details = $('#partialDetails');
        var edit = $('#partialEdit');
        var button = $('#Switch');

        if (isDetailShown) {
            $('#Switch').val('Details');
            $('#partialDetails').hide();
            edit.show();
            isDetailShown = false;
        }
        else
        {
            $('#Switch').val('Edit');
            details.show();
            $('#partialEdit').hide();
            isDetailShown = true;

        }
    }
</script>
